.bashrc
.gitconfig
.viminfo
.cache/*
.config/*
.docker/*
.gitconfig/*
.gsutil/*
.ipynb_checkpoints/*
.ipython/*
*/.ipynb_checkpoints/*
*/.ipython/*
.jupyter/*
.local/*
.npm/*
artifacts/*
artifacts/*
iris_classifier/*
iris_model.joblib
